.error-container {
  border: 2px solid red;
  background-color: #ffebeb;
}

.container-login {
  display: flex;
  align-items: center;
  justify-content: center;

}

.form_login {
  text-align: center;
  margin-top: 3rem;
  width: 25rem;
  padding: 2rem;
  border-radius: 20px;
  box-shadow: 0 0 10px #9beb6e;
  background: #f8f8f8;
}
.error-credenciales {
  box-shadow: 0 0 10px #e45757;
}