.error-container {
    border: 2px solid red;
    background-color: #ffebeb;
  }
  
  .container-login{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3rem;
  
  }

  .boton-iniciar{
    background: #39A900;
    border: none;
    margin: 2rem;
    padding: 10px;
    border-radius: 10px;
  }