.img-carousel {
    width: 100%; /* Ajusta el ancho del carrusel según tus necesidades */
    height: auto; /* Permite que la altura se ajuste automáticamente */
    object-fit: cover; /* Evita la distorsión, ajustando la imagen para cubrir el contenedor */
    vertical-align: middle; /* Alinea verticalmente las imágenes */
  }