
.error-container {
    border: 2px solid red;
    background-color: #ffebeb;
  }
  .container_beneficio{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container_bene{
    width: 35%;
    text-align: center;
    background: #f8f8f8;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px #9beb6e;
margin-top: 3rem;
  }
  .titulo_beneficio{
    color: #41be07;
    font-weight: bold;
  }