.container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container_flex {
    display: flex;
    align-items: center;
    text-align: center;
    background: #adf8a6;
}
@media screen and (max-width: 780px) {
    .container_flex{
        display: flex;
        flex-direction: column;
    }
}
  