.container-cancelados{
    width: 100%;
    height: auto;
    text-align: center;
}
.container-titulo{
    margin-top: 2rem;
}

.titulos{
    color:#39A900 ;
    margin: 2rem;
}
.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
}