.container-novedades{
    width: 100%;
    height: auto;
    text-align: center;
}
.container-titulo{
    margin-top: 2rem;
}

.table-container{
    display: flex;
    flex-direction: column;
}
.container-boton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}