.padre {
    display: flex;
    justify-content: center;
}
.container_novedades{
    border-radius: 20px;
    background: #f8f8f8;
    padding: 2rem;
    margin-top: 3rem;
    box-shadow: 0 0 10px #9beb6e;
}
.encabezado{
    text-align: center;
}
.boton_novedad{
    display: flex;
    justify-content: center;
    align-items: center;
}