.container_body{
    width: 100%;
    height: auto;
}
.table-container {
    display: flex;
    justify-content: center;
    max-height: 100vh;
}
.table-responsive{
    width: 100%;
}
.table-responsive th{
    background: #45ca03;
}