.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container-filtros{
margin-left: 3rem;
    display: flex;
    width: 100%;
    align-items:center;
    justify-content: center;
    justify-content: space-around;
}
.container-boton{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-filtro{
    text-align: center;
}
.container-buscador{
margin-left: 3rem;
    text-align: center;
    
}
.container-boton{
    margin-top: 1rem;
}
.titulos{
    color:#39A900 ;
}
.boton{
    background: #39A900;
    border: none;
    padding: 10px;
    border-radius: 10px;
}