.container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.container-filtros {
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    align-items: center;
    background: #f7fcf5;
}
