.container_adjudicados {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.adjudicados{
    width: 95%;
}
.container_filtros {
    width: 90%;
    height: auto;
    display: flex;
    text-align: center;
    align-items: center;
    background: #f8f8f8;
    padding: 1rem;
}
